body{
	background-color: #308080;
	display: flex;
	justify-content: center;
}

#taken-white{
	display: flex;
	height: 360px;
	justify-content: center;
	align-items: center;
	width: 100px;
	margin-right: 110px;
	margin-top: 80px;
	border: #502020 2px solid;
	border-radius: 5px;
}

#taken-black{
	display: flex;
	height: 360px;
	justify-content: center;
	align-items: center;
	width: 100px;
	margin-left: 150px;
	margin-top: 80px;
	border: #eeddaa 2px solid;
	border-radius: 5px;
}

#black{
	width: 80px;
}

#white{
	width: 80px;
}

#taken-white img{
	width: 40px;
}

#taken-black img{
	width: 40px;
}

#content{
	display: flex;
	flex-direction: column;
}

#files{
	height: 75px;
	display: flex;
	justify-content: space-evenly;
	gap: 28px;
	margin-left: 43px;
}

#bottom{
	display: flex;
}

#ranks{
	width: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#board{
	width: 730px;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	background-color: #502020;
	border: #eeddaa solid 4px;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 5px 5px 10px;
}

.tile{
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}

img::selection {
	background-color: transparent;
	color: #000;
}

img::-moz-selection {
	background-color: transparent;
	color: #000;
}

.mark{
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.4);
}

#popup{
	position: absolute;
	flex-direction: column;
	align-items: center;
	width: 800px;
	height: 250px;
	background-color: #eeddaa;
	margin-top: 200px;
	margin-left: 13px;
	border: 2px black solid;
	border-radius: 10px;
	text-align: center;
}

#popup h1{
	font-size: 40px;
}

#popup img{
	width: 100px;
}

#popup img:hover{
	background-color: #308080;
}